ipykernel
ipywidgets
langchain
langgraph
langchain-openai
langchain-tavily
langchain-community
langgraph-checkpoint-sqlite
langchain-mcp-adapters
fastmcp
dotenv
pyyaml
httpx
bs4
matplotlib
koreanize_matplotlib
rich
tzdata
setuptools
